   body{
       background-color: bisque;
   }
p{
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: chocolate;
    text-align: center;
}
button{
   
       border-style: groove;
       color: crimson;
       background-color: darkkhaki;
    }
    

h2{
    text-align: center;
    color: darkorange;
}
h3{
    text-align: center;
    text-decoration-color: blue;
}